.noel-bg {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

.noel-item {
  position: absolute;
  top: -80px;
  opacity: 0.9;
  animation: icon-fall linear infinite;
}

@keyframes icon-fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(110vh);
  }
}

/* Tuyết rơi */
.snow {
  position: absolute;
  top: -10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  filter: blur(0.5px);
  animation: snow-fall linear infinite;
}

@keyframes snow-fall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(110vh);
  }
}