.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .swiper {
    width: 100%;
    height: 100%;
  }

  .mySwiper2 {
    width: 100%;
    height: 100%;

    .swiper-slide {
      overflow: hidden;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mySwiper {
    position: absolute;
    bottom: 8%;
    right: 3%;
    width: 50%;
    height: 50px;
    overflow: visible;

    .swiper-wrapper {
      align-items: center;
      justify-content: flex-end;
    }

    .swiper-slide {
      width: 120px !important;
      height: 68px;
      border-radius: 14px;
      overflow: hidden;
      cursor: pointer;

      opacity: .45;
      transform: scale(.92);

      transition: all .35s ease;

      &:hover{
        border: 2px solid #fff;
      }
    }

    .swiper-slide:hover {
      opacity: 1;
      transform: scale(1);
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 14px;
      transition: .35s;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
      transform: scale(1.08);
      z-index: 10;
    }

    .swiper-slide-thumb-active img {
      border: 2px solid #fff;
      box-shadow: 0 0 20px rgba(255,255,255,.35);
    }
  }
}